@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,400i,700,900');
@import "../styles/partials/variables.scss";
@import "../node_modules/bulma/bulma.sass";
@import "../styles/partials/apptriggers.scss";
@import "../styles/partials/keypad.scss";
@import "../styles/partials/phonescreen.scss";
@import "../styles/partials/identity-form.scss";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    font-size: 15px;
    line-height: 200%;
    color: $text;
}

html {
    background: #e7e7e7e3;
    color: $text
}

body {
    background: rgba(231, 231, 231, 0.89);
    color: $text;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

.backgroundLogo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20%;
    left: 10%;
    background-image: url("/static/img/sogmi-logo.png");
    background-size: cover;
    background-position: center;
}

.appScreen {
    opacity: 0;
    display: none;
    padding: 30px 20px;
    transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -webkit-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
}

.appScreen.currentScreen.transitioning {
    opacity: 0;
}

.appScreen.currentScreen {
    min-height: 100vh;
    display: block;
    opacity: 1;
}

.appScreen.hasCustInfo {
}

.appScreen.currentScreen.flexColumn {
    display: block;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
}

.centerText {
    text-align: center;
}

.leftText {
    text-align: left;
}

.welcomeText {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10rem;
    .welcome {
        font-size: 4em;
        line-height: 1em;
        font-weight: bold;
    }
    .underWelcome {
        font-size: 1em;
    }
}

@keyframes opacityLoop {
    0% {opacity: 0}
    50% {opacity: 0.5}
    100% {opacity: 0}
}

.touchMessage {
    font-weight: bold;
    font-size: 3rem;
    animation-name: opacityLoop;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.lds-dual-ring {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
  }
  .lds-dual-ring:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    // width: 46px;
    // height: 46px;
    // margin: 1px;
    border-radius: 50%;
    border: 10px double $text;
    border-color: $text transparent $text transparent;
    animation: lds-dual-ring 800ms linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.form {
    margin: 0 auto;
    max-width: 800px;
}

.currentCustomerInformation {
    display: inline-block;
    background: rgba(255, 255, 255, 0.438);
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 5em;
    margin-top: -5em;
    border-radius: 5px;
}

.donationOptions {
    max-width: 800px;
    margin: auto;
    .card {
        cursor: pointer;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        min-height: 250px;
        color: white;
        background: $text;
        * {
            color: white;
        }
        svg {
            width: 5em;
            height: 5em;
            margin-bottom: 2em;
        }    
    }
}

.donationAmountRadio {
    label {
        display: block;
        padding: 20px;
        background: white;
        border-radius: 5px;
        font-weight: bold;
    }
    input {
        display: none;
    }
    input:checked + label {
        background: $primary;
        color: white;
    }
}